PORT=40000

PG_CONTAINER_NAME='db_rss'
POSTGRES_USER='admin'
POSTGRES_PASSWORD='root'
POSTGRES_DB='rss'
DB_DOCKER_PORT=5432
DB_PORT=54320

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PG_CONTAINER_NAME}:${DB_DOCKER_PORT}/${POSTGRES_DB}?schema=public"

LOGGING_LEVEL=1
IS_FILE_LOGGING='false'
LOGGING_GENERAL_FILE_NAME='general.log'
LOGGING_GENERAL_FILE_SIZE=64
IS_ERROR_FILE_LOGGING='false'
LOGGING_ERROR_FILE_NAME='error.log'
LOGGING_ERROR_FILE_SIZE=64

CRYPT_SALT=10
JWT_SECRET_KEY=secret123123
JWT_SECRET_REFRESH_KEY=secret123123
TOKEN_EXPIRE_TIME=600s
TOKEN_REFRESH_EXPIRE_TIME=24h
